<section class="upload-content">
  <div class="col-md-12">
    <form class="signin form-horizontal">
      <fieldset>
        <div class="form-group text-center" ng-hide="vm.loading">
          <img ngf-src="vm.fileSelected ? picFile : '/modules/users/client/img/profile/default.png'" alt="{{vm.user.displayName}}" class="img-thumbnail user-profile-picture" ngf-drop>
        </div>
        <div ng-show="vm.loading" class="form-group text-center">
          <img ng-src="/modules/core/client/img/loaders/loader.gif" height="50" width="50" alt="Loading image...">
        </div>
        <div ng-show="!vm.fileSelected" class="text-center form-group">
          <button class="upload-button" ngf-resize="{quality: .7}" ngf-select="(vm.fileSelected = true) && (vm.loading = false)" ng-model="picFile" accept="image/*" ngf-fix-orientation="true" ngf-before-model-change="vm.loading = true">Bild auswählen</button>
        </div>
        <div ng-show="vm.fileSelected" class="text-center form-group">
          <button class="upload-button" ng-click="uploadPic(picFile)">Dieses Bild verwenden</button>
        </div>
      </fieldset>
    </form>
  </div>
</section>
