<section>
  <div class="page-header">
    <h1>
      Bilder
    </h1>
  </div>
  <div class="list-group">
    <div data-ng-repeat="article in vm.articles" class="list-group-item">
      <small class="list-group-item-text">
        <img class="sody-thumbnail" ng-src="{{article.picFile}}">
        <span data-ng-bind="article.created | date:'mediumDate'"></span>
        <a class="btn btn-primary pull-right" ng-click="deleteImage(article)">
          <i class="glyphicon glyphicon-trash"></i>
        </a>
      </small>
    </div>
  </div>
</section>
