<section class="main-content">
  <div class="row">
    <div class="col-xs-12 text-right padding">
      <button ui-sref="upload" class="upload-button" type="button">Bild hochladen</button>
      <!-- <button ng-click="emitTest()" class="upload-button" type="button">emit test</button> -->
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div uib-carousel active="active" interval="vm.myInterval" no-wrap="noWrapSlides" id="mycarousel" class="carousel slide">
        <div uib-slide ng-repeat="slide in vm.articles" index="$index">
          <img ng-src="{{slide.picFile}}">
        </div>
      </div>
    </div>
  </div>
</section>
