$primePink : #FFE3EB;
$primeTan : #d2b48c;

BODY {
  background-color: $primePink;
  a.carousel-control, .carousel-indicators{
    display: none;
  }

  .full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  img{
    margin: 0 auto;
    max-height: 750px;
    &.sody-thumbnail {
      max-width: 120px;
      max-height: 120px;
      margin: inherit;
    }
  }

}

html,body{height:100%;}
.carousel,
.item,
.active{
  height:100%;
}

.carousel-inner {
  height:100%;
}

.fill{
  width:100%;
  height:100%;
  background-position:center;
  background-size:cover;
}

/* keep full widget on smaller screens */
@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
}

SECTION{

  &.content{
    margin-top: 0;
  }

  &.upload-content{
    margin-top: 50px;
  }
  &.main-content{
  }
}


.padding{
  padding:20px 0;
}

.upload-button{
  background-color: transparent;
  color: $primeTan;
  border-radius: 5px;
  border: 2px solid $primeTan;

  &:hover{
    background-color: $primeTan;
    color: white;
  }
}
